@font-face {
    font-family: Gilroy;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../font/Gilroy-Regular.woff2)format('woff2');
}

@font-face {
    font-family: Gilroy;
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../font/Gilroy-ExtraBold.woff2)format('woff2');
}

@font-face {
    font-family: Gilroy;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../font/Gilroy-Light.woff2)format('woff2');
}

@font-face {
    font-family: Gilroy;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../font/Gilroy-Bold.woff2)format('woff2');
}

@font-face {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../font/Gilroy-Semibold.woff2)format('woff2');
}