header {
    margin-left: auto;
    margin-right: auto;
    height: 116px;
    margin-bottom: 0;
    
}
.head-list {
    display: flex;
}
.head-list a {
    margin-right: 31px;
    color: #000000;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 139px;
    font-size: 18px;
    line-height: 1.22;
    padding-bottom: 0;
    
}
.header-cont {
    width: 1172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.main {
    border: 1px solid #F7941E;
    box-sizing: border-box;
    border-radius: 5px;
    width: 150px;
    height: 44px;
    background: none;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #F7941E;
}